<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Home</span>
    <button type="button" class="btn btn-outline-danger" (click)="logout()">Log Out</button>
  </nav>
<br>
<p>Hi <strong><i>{{user}}</i></strong>, welcome!</p>

<hr>
<div class="text-left"><h2>Project List</h2></div>

<div class="card-columns">
  <div class="card" *ngFor="let p of proyectos; let i = index">
    <div class="card-body">
      <h5 class="card-title">{{p.titulo}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Project Id: {{p.proyectoid}}</h6>
      <p class="card-text">{{p.descripcion}}</p>

      <!-- <button type="button" class="btn btn-info">Details</button> -->

      <a [routerLink] = "['/proyecto', i]" class="btn btn-info" >Details</a>

      <button type="button" class="btn btn-danger float-right" 
        (click)="deleteProject()">Delete</button>
    </div>
  </div>
</div>
